body,form{
    height:100%;
}
* {
    margin:0px;
}
.TopDiv {
    height:40px;
}
.MainDiv,.LeftDiv,.CenterDiv {
    height:1000px;
}
.LeftDiv,.CenterDiv {
    display:inline;
    width:700px;
    float:left
}
.LeftDiv {
    width:200px;
}
.hidden {
    display:none;
}
ul {    
    list-style:none;
}
